<?xml version="1.0"?>

<robot name="diff_drive_bot">

  <!-- ====================================================== -->
  <!-- MATERIALS                                               -->
  <!-- ====================================================== -->

  <material name="body_blue">
    <color rgba="0.10 0.30 0.80 1.0"/>
  </material>

  <material name="wheel_black">
    <color rgba="0.03 0.03 0.03 1.0"/>
  </material>

  <material name="caster_gray">
    <color rgba="0.30 0.30 0.30 1.0"/>
  </material>


  <!-- ====================================================== -->
  <!-- BASE                                                     -->
  <!-- ====================================================== -->

  <link name="base_link">

    <visual>
      <origin xyz="0 0 0.175" rpy="0 0 0"/>

      <geometry>
        <box size="0.50 0.36 0.20"/>
      </geometry>

      <material name="body_blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0.175" rpy="0 0 0"/>

      <geometry>
        <box size="0.50 0.36 0.20"/>
      </geometry>
    </collision>

    <inertial>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <mass value="8.0"/>

      <!-- Box:
           m = 8 kg
           x = 0.50
           y = 0.36
           z = 0.20
      -->

      <inertia
        ixx="0.09333"
        ixy="0.0"
        ixz="0.0"
        iyy="0.19333"
        iyz="0.0"
        izz="0.22667"/>

    </inertial>

  </link>


  <!-- ====================================================== -->
  <!-- LEFT DRIVE WHEEL                                         -->
  <!-- ====================================================== -->

  <link name="left_wheel_link">

    <visual>

      <!-- Cylinder's default axis is Z.
           Rotate around X so axle becomes Y. -->

      <origin
        xyz="0 0 0"
        rpy="1.57079632679 0 0"/>

      <geometry>
        <cylinder
          radius="0.075"
          length="0.04"/>
      </geometry>

      <material name="wheel_black"/>

    </visual>

    <collision>

      <origin
        xyz="0 0 0"
        rpy="1.57079632679 0 0"/>

      <geometry>
        <cylinder
          radius="0.075"
          length="0.04"/>
      </geometry>

    </collision>

    <inertial>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <mass value="0.75"/>

      <!-- Solid cylinder -->
      <inertia
        ixx="0.00107"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00211"
        iyz="0.0"
        izz="0.00107"/>

    </inertial>

  </link>


  <joint name="left_wheel_joint" type="continuous">

    <parent link="base_link"/>
    <child link="left_wheel_link"/>

    <!--
      Wheel center:
        x = -0.05
        y = +0.20
        z = +0.075

      Wheel bottom:
        0.075 - 0.075 = 0
    -->

    <origin
      xyz="-0.05 0.20 0.075"
      rpy="0 0 0"/>

    <!-- Axle direction -->
    <axis xyz="0 1 0"/>

    <dynamics
      damping="0.1"
      friction="0.1"/>

  </joint>


  <!-- ====================================================== -->
  <!-- RIGHT DRIVE WHEEL                                        -->
  <!-- ====================================================== -->

  <link name="right_wheel_link">

    <visual>

      <origin
        xyz="0 0 0"
        rpy="1.57079632679 0 0"/>

      <geometry>
        <cylinder
          radius="0.075"
          length="0.04"/>
      </geometry>

      <material name="wheel_black"/>

    </visual>

    <collision>

      <origin
        xyz="0 0 0"
        rpy="1.57079632679 0 0"/>

      <geometry>
        <cylinder
          radius="0.075"
          length="0.04"/>
      </geometry>

    </collision>

    <inertial>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <mass value="0.75"/>

      <inertia
        ixx="0.00107"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00211"
        iyz="0.0"
        izz="0.00107"/>

    </inertial>

  </link>


  <joint name="right_wheel_joint" type="continuous">

    <parent link="base_link"/>
    <child link="right_wheel_link"/>

    <origin
      xyz="-0.05 -0.20 0.075"
      rpy="0 0 0"/>

    <axis xyz="0 1 0"/>

    <dynamics
      damping="0.1"
      friction="0.1"/>

  </joint>


  <!-- ====================================================== -->
  <!-- CASTER WHEEL                                             -->
  <!-- ====================================================== -->



  <!-- ====================================================== -->
  <!-- CASTER JOINT                                             -->
  <!-- ====================================================== -->


  <!-- ====================================================== -->
  <!-- GAZEBO SIM DIFFERENTIAL DRIVE                            -->
  <!-- ====================================================== -->
  
  <ros2_control name="GazeboSimSystem" type="system">
  <hardware>
    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
  </hardware>

  <joint name="left_wheel_joint">
    <command_interface name="velocity">
      <param name="min">-10</param>
      <param name="max">10</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>

  <joint name="right_wheel_joint">
    <command_interface name="velocity">
      <param name="min">-10</param>
      <param name="max">10</param>
    </command_interface>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
</ros2_control>

<gazebo>
  <plugin
    filename="gz_ros2_control-system"
    name="gz_ros2_control::GazeboSimROS2ControlPlugin">

    <parameters>
      /home/mohan/ros2_ws/src/my_robot_description/config/diff_drive_controllers.yaml
    </parameters>

  </plugin>
</gazebo>



</robot>